:root{
  
  /* Color Variables */
  --clr-p-purple: hsl(259, 100%, 65%);
  --clr-p-red: hsl(0, 100%, 67%);

  --clr-n-white:hsl(0, 0%, 100%);
  --clr-n-off-white:hsl(0, 0%, 94%);
  --clr-n-light-grey:hsl(0, 0%, 86);
  --clr-n-smokey-grey:hsl(0, 1%, 44%);
  --clr-n-off-black:hsl(0, 0%, 8%);

  /* Font sizes */
  --fs-body: 1rem;
  --fs-input: 1.5rem;
  --fs-result: 3rem;
  @media(min-width: 47em){
    --fs-result: 4rem;
  }

  --ff-primary:'Poppins', sans-serif;
  --fw-400: 400;
  --fw-700: 700;
  --fw-800: 800;
}



/* Utility-classes */


.padding-extra-large{
  padding: 4rem;
}
.padding-large{
  padding: 1rem;
}
@media(min-width: 47em){
  .padding-large{
    padding: 3rem;
  }
}
.padding-medium{
  padding: 1.5rem;
}
.padding-small{
  padding: .825rem;
}


body{
  font-family: var(--ff-primary);
  background-color: var(--clr-n-off-white);
  margin: 0px;


}
@media (max-width: 47em){
body{
  padding: 1rem;
  margin-top: 25%;
}
}
@media(min-width: 47em){
  body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

  }
}
main{
  background-color: var(--clr-n-white);
  border-radius: 32px 32px 140px 32px;
}
@media(min-width: 47em){
  main{
    width: 740px;
    border-radius: 32px 32px 240px 32px;
  }
}


/* Set input field CSS */

.input-fields{
  display: flex;
  gap: 1rem;
}
@media(min-width: 47em){
  .input-fields{
    gap: 2rem;
  }
}

.input{
  display: flex;
  flex-direction: column;
  max-width: 30%;
}
@media(min-width: 47em){
  .input{
    max-width: 160px;
  }
}
.input label{
  font-size: var(--fs-body);
  text-transform: uppercase;
  color: var(--clr-n-smokey-grey);
  letter-spacing: 4px;
  margin-bottom: 8px;
}
.input[error] label{
  color:var(--clr-p-red);
}
.input[empty] label{
  color:var(--clr-p-red);
}
.input input{
  height: 40px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  font-size: var(--fs-input);
  font-family:var(--ff-primary);
}
.input[error] input {
  border-color: var(--clr-p-red);
}
.input[empty] input {
  border-color: var(--clr-p-red);
}

.submit{
  position: relative;
}
.send-date{
  background-color:var(--clr-p-purple);
  border: none;
  border-radius: 100%;
  position: absolute;
  top: -46px;
  height: 92px;
  width: 92px;
  cursor: pointer;
  transition-duration: 300ms;
}
.send-date:hover{
  background-color: var(--clr-n-off-black);
}
@media(min-width: 47em){
.send-date{
    right: 20px;
  }
}
@media(max-width:47em){
  .send-date{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 80px;
  }
}

hr{
  margin-block: 4rem;
  margin-right: 20px;
  opacity: 0.4;
}
@media(min-width: 47em){
  hr{
    margin-block: 2.5rem;

  }
}

.error-message{
  color: var(--clr-p-red);
  font-size: .825rem;
  font-style: italic;
  display: none;
}
.input[error] p.error-handler-message{
  display: block;
}
.input[empty] p.error-empty-message{
  display: block;
}

/* Result page CSS */

.result-text{
  font-size: var(--fs-result);
  font-weight: 800;
  font-style: italic;
  margin-block: 16px;
  line-height: 1;
}

.highlight-number{
  color: var(--clr-p-purple);
}
.input

/* Remove arrows CSS */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
